<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Balance: Actions</title>
</head>
<body>
<div style="text-align:center">
    <h1>Domestic Budget Automation</h1>
    <h2>Balance</h2>
    <h2>Actions</h2>
    <button><a th:href="@{/balance/balances}">Back</a></button>
</div>
<hr>
<div style="text-align:center">
<h2>Update</h2>
<form th:method="POST" th:action="@{/balance/updateBalance/{id}(id=${balance.getId()})}" th:object="${balance}">
    <label for="create_date">Creation Date: </label>
    <input type="datetime-local" th:field="*{create_date}" placeholder="Creation Date" id="create_date"/>
    <br/>
    <label for="debit">Debit: </label>
    <input type="number" th:field="*{debit}" placeholder="Debit" id="debit"/>
    <br/>
    <label for="credit">Credit: </label>
    <input type="number" th:field="*{credit}" placeholder="Credit" id="credit"/>
    <br/>
    <br/>
    <input type="submit" value="Update"/>
</form>
<br/>
<h2>Delete</h2>
<form th:method="POST" th:action="@{/balance/deleteBalance/{id}(id=${balance.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</div>
<hr>
</body>
</html>