<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Domestic Budget Automation</title>
</head>
<body>
<header>
    <div style="text-align:center">
        <h1>Domestic Budget Automation</h1>
        <h2>Main Page</h2>
        <hr>
    </div>
    <div style="text-align:center" class="small" id="header-scroll">
        <nav>
            <ul>
                <li><a href="/articles/articles">Articles</a></li>
                <li><a href="/balance/balances">Balance</a></li>
                <li><a href="/operations/operations">Operations</a></li>
            </ul>
        </nav>
        <hr>
        <br/>
    </div>
</header>
</body>
</html>